@import './base.css';

#app {
  max-width: 500px;
  margin: 0 auto;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    padding: 0.15rem 0.5rem;
    border-radius: 2px;
    background-color: hsla(163, 7%, 19%, 0.2);
  }
}

a,
.listHeading {
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  margin-top: 1rem;
  padding: 0;
  list-style: none;
}

.listDiv {
  font-size: larger;
  padding: 0.8rem 0;
  margin: 2rem;
  background-color: #FFFDD1;
  box-shadow: 5px 5px 10px lightgray;
}

.singleItem {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin: 0.25rem 1.5rem;
}

.checkbx {
  margin-right: 0.25rem;
}

.itemValue {
  background-color: hsla(163, 7%, 19%, 0.2);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}